:root {
    --primary: #efb6b2;
    --secondary: #4e4e4e;
    --error: #ff4a4a;
}

body {
    color: var(--secondary);
}

#root, .App {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    margin: 0 auto;
}
.navbar {
    width: 80vw;
    margin: auto;    
}


.navbar-brand {
    color: #0088ff;
}

.gallery  {
    margin: auto;
    width: 80vw;
    padding-top: 60px;
}

.gallery-header {
    text-align: center;
}

.gallery-header h1 {
    font-family: monospace;
    font-size: 2rem;

}


.min-height-full {
    height: 100vh;
}

.error-panel {
    color: var(--error);
    width: fit-content;
    /*max-width: 300px;*/
    text-align: center;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid var(--error);
    border-radius: 5px;
}

form {
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.file-input {
    display: none;
}

.file-input-label {
    display: inline-block;
    text-align: center;
    
    width: fit-content;
    padding: 10px;
    border: 1px solid var(--primary);

    border-radius: 50%;
}

.file-input-label:hover {
    background-color: var(--primary);
}

.image {
    animation: apparition;
    animation-duration: 1s;
    max-width: 30vw;

}

@keyframes fromTop {
    0% {
        transform: translateY(-100px);
        opacity: 1;
    }

    70% {
        transform: translateY(100px);
        opacity: 0.4;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes apparition {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}